.head {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  .head-right {
    display: flex;
    justify-content: space-between;
    max-width: 255px;
    width: 100%;

    .select {
      border: none;
      padding-right: 26px;
      cursor: pointer;
      background-color: transparent;
      color: var(--text-color);

      option {
        border: none;
        cursor: pointer;
        background-color: var(--background-color);
        color: var(--text-color);
      }
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #777;
        transition: 0.4s;
        border-radius: 34px;
      }

      .slider::before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
      }

      input:checked + .slider {
        background-color: #A445ED;
      }

      input:checked + .slider::before {
        transform: translateX(26px);
      }
    }
  }
}

[data-theme="dark"] {
  .head {
    .head-right {
      .select {
        color: #ffffff;
      }
    }
  }
}